page-home {
  .ion-canvas {
    position: fixed;
    z-index:1;
  }
  canvas {
    position : absolute;
  }
  .buttoned {
    z-index:2;
  }
  img {
    z-index:0;
  }
  #senseLayer {
    opacity: 0.5;
    z-index: 3;
  }
  #canvasOverlay {
    z-index: 2;
  }
  #canvasBackground {
    z-index: 1;
  }
}
